/* Eric Meyer's reset CSS
Source: Google */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* NAVIGATION BAR */
.navbar {
    display: flex;
    border-bottom: 1px solid black;
    background-color: black;
}

.navbar-1 {
    flex: 1;
}

.navbar-2 {
    flex: 3;
}

#logo-revou-navbar {
    width: 50px;
    height: 50px;
    margin-top: 5px;
    margin-left: 40px;
}

.navbar-menu {
    display: flex;
    justify-content: right;
    margin-top: 10px;
    margin-right: 95px;
}

.navbar-menu > li {
    padding: 10px 40px 10px 40px;
    border: 0.5px solid black;
    list-style-type: none;
    background-color: whitesmoke;
    margin: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* Content Page 1 */
.content {
    display: flex;

}

.content-1 {
    flex: 1;
}

.content-2 {
    display: table;
    flex: 1;
    text-align: center;
    position: relative;
    align-content: center;
}

table {
    position: absolute;
    margin-top: 148px;
    margin-right: 180px;
}

table,th,td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px 30px 10px 30px;
    vertical-align: middle;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

th {
background-color: rgb(243, 243, 10);
font-weight: bold;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1  {
    margin: 50px 0px 10px 290px;
    font-size: 28px;
    font-weight: bold;
}

p {
    margin-left: 290px;
    margin-bottom: 30px;
}

ul > li {
    margin: 10px 0px 30px 290px;
    list-style-type: none;
}

/* Content Form */
.content-form   {
    display: flex;
}

.content-form1  {
    flex: 1;
    margin-right: 30px;
}

.content-form2  {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}

#input-name {
    width: 350px;
    margin: 10px 10px 5px 10px;
}

#input-date {
    width: 353px;
    margin:20px 10px 5px 10px;
}

.tap-gender {
    margin-top: 25px;
}

#input-message {
    width: 350px;
    margin-left: 10px;
    margin-top: 30px;
}

#button-submit {
    width: 358px;
    margin-top: 20px;
    margin-left: 455px;
    margin-top: 30px;
}

/* FOOTER */

footer {
    display: flex;
    margin: 20px;
    background-color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}


.label-name {
    display: flex;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 10px;
    background-color: black;
    color: azure;
    justify-content: right;
}
